In [1]:
import pandas as pd

In [2]:
californie = pd.read_csv('housing_test_data.csv')

In [3]:
californie

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN
1,2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND
2,15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY
3,82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
4,8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...,...
4123,2319,-119.70,36.82,25.0,2379.0,540.0,1482.0,484.0,2.3173,68200.0,INLAND
4124,5341,-118.44,34.04,49.0,32.0,7.0,14.0,7.0,2.1875,225000.0,<1H OCEAN
4125,16888,-122.37,37.60,26.0,15.0,3.0,11.0,3.0,5.0480,350000.0,NEAR OCEAN
4126,6823,-118.10,34.09,42.0,1460.0,289.0,829.0,273.0,4.8750,227300.0,<1H OCEAN
4127,11878,-117.38,33.99,52.0,1797.0,332.0,905.0,313.0,2.7054,141700.0,INLAND

In [5]:
californie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4128 non-null   int64
 1   longitude           4128 non-null   float64
 2   latitude            4128 non-null   float64
 3   housing_median_age  4128 non-null   float64
 4   total_rooms         4128 non-null   float64
 5   total_bedrooms      4084 non-null   float64
 6   population          4128 non-null   float64
 7   households          4128 non-null   float64
 8   median_income       4128 non-null   float64
 9   median_house_value  4128 non-null   float64
 10  ocean_proximity     4128 non-null   object
dtypes: float64(9), int64(1), object(1)
memory usage: 354.9+ KB

In [11]:
californie.isnull().value_counts()

Unnamed: 0  longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income  median_house_value  ocean_proximity
False       False      False     False               False        False           False       False       False          False               False              4084
                                                                  True            False       False       False          False               False                44
dtype: int64

In [12]:
df_californie = californie.dropna()

In [13]:
df_californie.shape

(4084, 11)

In [15]:
df_californie.isnull().value_counts()

Unnamed: 0  longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income  median_house_value  ocean_proximity
False       False      False     False               False        False           False       False       False          False               False              4084
dtype: int64